:root {
  --Orange: #4CEF91;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500');


body{
	background: #272829;
	overflow-x: hidden;
	margin: auto;
}

#layout{
	display: block;
	width: 968px;
	height: auto;
	margin: auto;
	text-align: center;
}

.bigform{
	width: 1345px;
	height: 1069px;
	background: #191B1D;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
	position: absolute;
	transform: rotate(45deg);
	float: right;
	right: -800px;
	top: 70px;
	z-index: 333;
}

div.icon_gallery{
	height: 320px;
	width: auto;
	overflow: hidden;
	position: absolute;
	top: 370px;
}

.container{
	background: rgba(0,0,0,.0);
	border: solid 1px rgba(0,0,0,.0);
	width: 100px;
	cursor: pointer;
	height: 70px;
	padding-top: 30px;
	margin:2px 0px;
	display: inline-block;
	opacity: .3;
	vertical-align: middle;
	text-align: center;
	transition-duration: .6s;
}

.container:hover{
	opacity: 1;
	background: #171717;
	transition-duration: .5s;
	transform: scale(1.05);
}

header{
	width: 100%;
	height: 55px;
	margin: 50px auto 0px;
	z-index: 888;
	position: relative;
  text-align: center;
}

header h1{
	cursor: pointer;
	font-size: 0px;
	color: transparent;
	float: left;
  margin: auto;
}

header h1 span.logo{
	width: 175px;
	height: 50px;
	display: block;
}

header h1 span.logo div.letterI{
	box-sizing: border-box;
	width:3px;
	height: 33px;
	background: white;
	margin: 4px;
	display: inline-block;
	vertical-align: middle;
}

header h1 span.logo div.letterC{
	box-sizing: border-box;
	width: 29px;
	height: 33px;
	border: solid 3px white;
	border-right: none;
	display: inline-block;
	margin: 4px;
	vertical-align: middle;
}

header h1 span.logo div.letterO{
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	border: solid 3px;
	border-color: var(--Orange);
	display: inline-block;
	margin: 2px;
	vertical-align: middle;
	overflow: hidden;
}

header h1 span.logo div.letterO::before{
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	border: solid 3px;
	border-color: var(--Orange);
	float: left;
	left: -3px;
	top: -3px;
}

header h1 span.logo div.letterO::after{
		box-sizing: border-box;
		width: 28px;
		height: 28px;
		border: solid 3px;
		border-color: var(--Orange);
		float: right;
		right: -3px;
		top: -14px;
}

header h1 span.logo div.letterO.rotate::before{
	transform: rotate(90deg);
}

header h1 span.logo div.letterO.rotate::after{
	transform: rotate(90deg);
}

header h1 span.logo div.letterS{
		box-sizing: border-box;
		width: 29px;
		height: 18px;
		border: solid 3px white;
		border-right: none;
		display: inline-block;
		margin: 4px;
		top: 4px;
		position: relative;
		vertical-align: top;
	}

header h1 span.logo div.letterS::before{
		box-sizing: border-box;
		width: 29px;
		height: 18px;
		border: solid 3px white;
		border-left: none;
		display: inline-block;
		top: 12px;
		float: left;
		left: -3px;
		vertical-align: top;
}


section#description{
	width: 100%;
	height: 210px;
	text-align: left;
	margin: 59px auto 0px;
	position: relative;
	z-index: 5555;
}

section#description span.text{
	color: var(--Orange);
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	font-size: 22px;
  width: auto;
}

section#description h2{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 45px;
	margin: -3px auto;
  width: 395px;
  display: inline;
  float: left;
  height: auto;
  display: block;
}

section#description a{
	font-family: 'Poppins', sans-serif;
	display: block;
	color: #6F6F6F;
	font-size: 17px;
	position: relative;
	margin: 45px auto 0px;
	font-weight: 300;
	text-decoration: none;
}

section#description a span{
	display: inline-block;
	color: var(--Orange);
}

section#description .icossTest{
	width: 480px;
	height: 270px;
	display: inline-block;
	float: right;
	text-align: right;
	top: -130px;
	position: relative;
}

section#description .icossTest span{
  width: 220px;
	height: 40px;
  padding-top: 225px;
  font-family: 'Poppins', sans-serif;
  display: block;
  background: #262626;
	box-shadow: 0px 23px 32px -12px rgba(0, 0, 0, 0.3);
	text-align: center;
	color: #818181;
  position: relative;
  border-radius: 5px;
  float: left;
}

section#description .icossTest span a.btnSecundary{
  font-size: 14px;
  position: relative;
  top: -100px;
  width: 180px;
}

section#description .icossTest span i{
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}

section#description .icossTest span .sizeXxl{
  display: block !important;
  width: 20px;
  height: 20px;
  position: relative;
  margin: auto;
  top: -140px;
  z-index: 888888;
  transform: scale(4);
}

section#description .icossTest .btn{
	width: 220px;
	height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 15px;
  float: right;
  position: relative;
  top: -45px;
  padding-top: 225px;
	text-transform: uppercase;
  transition: .1s;
}

section#description .icossTest .btn.primary{
	background: var(--Orange);
	box-shadow: 0px 23px 32px -12px rgba(0, 0, 0, 0.3);
	text-align: center;
	color: #141517;
  border-radius: 5px;
  position: relative;
}

section#description .icossTest .btn.primary::before{
  display: block;
  content: url(../assets/zip_icon.svg);
  width: 94px;
  height: 121px;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  margin: auto;
}

section#description .icossTest .btn.primary:hover{
  top:-40px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.9);
}


section#howTo{
	width: 100%;
	background: #191B1D;
	height: 1047px;
	position: relative;
	z-index: 4444;
	top: -138px;
	text-align: center;
	margin: auto;
  z-index: 44444;
}

section#howTo h3{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	display: inline-block;
	float: left;
	margin: 55px auto 0px;
	color: var(--Orange);
	font-weight: 500;
	text-align: left;
}

section#howTo .instruction{
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 80px;
  top: -40px;
  position: relative;

}

section#howTo .instruction h4{
	font-family: 'Source Code Pro', monospace;
	color: #EAEAEA;
	font-size: 23px;
	opacity: .3;
	font-weight: 400;
}

section#howTo .instruction p.textInstruction{
	font-family: 'Source Code Pro', monospace;
	color: #EAEAEA;
	font-size: 17px;
	font-weight: 200;
	isplay: inline-block;
	display: block;
	width: 400px;
}

section#howTo .instruction p.textInstruction b{
  display: inline-block;
  font-weight: 300;
  color: var(--Orange);
  font-style: italic;
}

section#howTo .instruction .ImgInstruction{
	width: 500px;
	height: 51px;
	display: inline-block;
	background: #27292C;
	border: solid 1px rgba(255, 255, 255, 0.05);
	box-shadow: 0px 2px 7px rgba(0, 0, 0, .8);
	border-radius: 3px;
	padding-top: 25px;
	text-align: center;
	margin-top: -90px;
	float: right;
	transition: .5s;
}

section#howTo .instruction .ImgInstruction img{
	width: 90%;
	height: auto;
	margin: auto;
}


section#howTo .instruction .ImgInstruction:hover{
	transform: scale(1.02);
  box-shadow: 0px 40px 32px -18px rgba(0, 0, 0, .4);
}
